# macOS
.DS_Store

# Xcode
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Ignore Utils folder
Constants/
